# Virtual Environment
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / Build
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/

# Local configuration (Optional: ignore if you want to keep your pool IP private)
# config.yaml

# System files
.DS_Store
